@{
  ViewData["Title"] = "Home Page";
}

<h1>All Destinations:</h1>

<ol>
@foreach (Destination destination in Model)
{
  <ul>
    <li>ID: @Model.DestinationId</li>
    <li>City: @Model.City</li>
    <li>Country: @Model.Country</li>
  </ul>
  <a href="/Travels/Destinations/Details/@(destination.DestinationId)">
<p>View Details</p></a>
  <br>  
}
</ol>